/* PC */

@media screen and (min-width: 992px) {
    .hide-on-pc {
        display: none;
    }
}

/* Taplet & Mobile */

@media screen and (max-width: 991.98px) {
    .hide-on-tablet {
        display: none;
    }

    .header__row {
        flex-direction: row-reverse;
        justify-content: space-between;
        align-items: center;
    }
    .header__avatar--wrap {
        margin-right: auto;
        margin-left: 0;
    }

    .seperate-header {
        margin: 0 auto;
        min-width: calc(100% - 20px);
        height: 1px;
        background-color: #d6d3e2;
    }

    .hero__row {
        flex-direction: column-reverse;
    }

    .hero__content {
        margin-top: 0;
    }

    .hero__heading {
        font-weight: 500;
        font-size: 4.2rem;
        line-height: 1.19;
        letter-spacing: -4%;
    }

    .hero__desc {
        font-weight: 400;
        font-size: 1.6rem;
        line-height: 1.625;
        letter-spacing: 0%;
    }

    .hero__cta {
        margin-top: 30px;
    }

    .hero__social {
        margin-top: 25px;
    }

    .hero__img--wrap {
        margin: 0 auto;
    }

    .clients {
        margin-top: 120px;
    }

    .clients__heading {
        text-align: center;
        max-width: 243px;
        margin: 0 auto;
    }

    .clients__heading:before {
        top: 0;
        left: 50%;
        transform: translateX(-50%);
    }

    .clients__row {
        margin: 0 auto;
        text-align: center;
    }

    .specialities__heading {
        margin-top: 120px;
    }

    .specialities__row {
        flex-wrap: nowrap;
        overflow: hidden;
    }

    .specialities__item {
        /* max-width: calc(100% - 15px); */
    }

    .project {
        margin-top: 120px;
        padding-top: 69px;
        padding-bottom: 60px;
    }

    .project__top {
        flex-direction: column;
        text-align: center;
        align-items: center;
    }

    .project__heading {
        max-width: 408px;
    }

    .project__cta--btn {
        margin-top: 50px;
    }

    .numbers {
        margin-top: 120px;
    }

    .numbers__list {
        column-gap: 20px;
    }

    .comment {
        padding-top: 120px;
        padding-bottom: 74px;
    }

    .atmosphere {
        margin-top: 120px;
    }

    .atmosphere__row {
        flex-wrap: nowrap;
        overflow: hidden;
    }

    .atmoshere__item {
        flex-shrink: 0;
        margin: 0 auto;
    }

    .footer__row {
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }

    .footer__contact {
        margin-top: 58px;
        order: 3;
    }

    .footer__avatar--wrap {
        margin: 0 auto;
        order: 1;
    }

    .footer__navbar {
        margin-top: 20px;
        order: 2;
    }

    .show-on-pc {
        display: none;
    }

    .footer__bottom {
        flex-direction: column-reverse;
        justify-content: center;
        align-items: center;
    }

    .footer__bottom--right {
        width: 100%;
        height: 1px;
        background-color: #0c0720;
        margin: 29px auto 25px auto;
    }
}

/* Taplet */

@media screen and (min-width: 768px) and (max-width: 991px) {
}

/* Mobile */

@media screen and (max-width: 767.98px) {
    .numbers__list {
        padding: 30px 16px;
    }
}
