*,
::before,
::after {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

:root {
    --heading-color: #080415;
    --desc-color: #51586a;
    --btn-bg: #5d3bee;
    --btn-color: #fdfdfd;
    --main-cl: #5d3bee;
}

html {
    font-weight: 62.5%;
}

body {
    font-size: 1.6rem;
    font-family: "DM Sans", sans-serif;
}

/* ============== Common ============== */

a {
    text-decoration: none;
}

input,
textarea,
select,
button {
    font-family: inherit;
    font-size: inherit;
}

.btn {
    min-width: 170px;
    height: 62px;
    font-weight: 700;
    font-size: 1.8rem;
    line-height: 1.678;
    background: var(--btn-bg);
    color: var(--btn-color);
}
