*,
::before,
::after {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

:root {
    --heading-color: #080415;
    --desc-color: #51586a;
    --btn-bg: #5d3bee;
    --btn-color: #fdfdfd;
    --main-cl: #5d3bee;
}

html {
    font-size: 62.5%;
}

body {
    font-size: 1.6rem;
    font-family: "DM Sans", sans-serif;
}

/* ============== Common ============== */

a {
    text-decoration: none;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    color: var(--heading-color);
}

input,
textarea,
select,
button {
    font-family: inherit;
    font-size: inherit;
}

.btn {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    min-width: 170px;
    height: 62px;
    font-weight: 700;
    font-size: 1.8rem;
    line-height: 1.678;
    background: var(--btn-bg);
    color: var(--btn-color);
    transition: 0.5s;
}

.btn:hover {
    opacity: 0.8;
}

.desc {
    font-weight: 400;
    font-size: 1.8rem;
    line-height: 1.678;
    letter-spacing: 0%;
    color: #51586a;
}

.heading {
    font-weight: 500;
    font-size: 5.6rem;
    line-height: 1.18;
}

/* ============== Header ============== */

.header {
    padding-top: 30px;
    background-color: #fbfaff;
}

.header__container {
    max-width: 1330px;
}

.header__row {
    justify-content: space-between;
    align-items: center;
    position: relative;
}

.header__contact {
    display: flex;
    align-items: center;
    column-gap: 10px;
}

.contact__img--wrap {
    display: flex;
    align-items: center;
    justify-content: center;
    min-width: 46px;
    height: 46px;
    border-radius: 50%;
    border: 1px solid var(--main-cl);
}

.contact__mail {
    font-weight: 500;
    font-size: 2.2rem;
    line-height: 1.36;
    text-decoration: underline;
    text-decoration-style: solid;
    text-decoration-thickness: 0%;
    color: var(--heading-color);
}

.header__avatar--wrap {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
}

.navbar__list {
    display: flex;
    column-gap: 43px;
}

.navbar__link {
    font-weight: 400;
    font-size: 1.8rem;
    line-height: 100%;
    letter-spacing: 0%;
    color: #51586a;
}

/* ============== Hero ============== */

.hero {
    padding-top: 50px;
    background-color: #fbfaff;
}

.hero__img--wrap {
    max-width: 514px;
}

.hero__img {
    width: 100%;
    object-fit: cover;
}

.hero__content {
    margin-top: 137px;
}

.hero__heading {
    font-weight: 500;
    font-size: 8rem;
    line-height: 0.95;
}

.hero__desc {
    margin-top: 20px;
    max-width: 370px;
}

.hero__cta {
    margin-top: 50px;
    display: flex;
    align-items: center;
    column-gap: 30px;
}

.hero__work {
    font-weight: 700;
    font-size: 1.8rem;
    line-height: 1.678;
    letter-spacing: 0%;
    text-decoration: underline;
    text-decoration-style: solid;
    text-decoration-offset: 0%;
    text-decoration-thickness: 0%;
    color: var(--heading-color);
}

.hero__social {
    margin-top: 104px;
    display: flex;
    align-items: center;
    column-gap: 15px;
}

.hero__social--text {
    font-size: 1.6rem;
    line-height: 1.875;
}

.hero__social--wrap {
    display: flex;
    column-gap: 20px;
}

.social__link {
    display: flex;
    align-items: center;
    justify-content: center;
    min-width: 40px;
    height: 40px;
    border-radius: 50%;
    border: 1px solid #080415;
    color: #080415;
    transition: 0.5s;
}

.social__link:hover {
    background-color: #080415;
    color: #fff;
    opacity: 0.8;
}

/* ============== Clients ============== */
